* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  width: 650px;
  margin: 0 auto;
}
header {
  margin-bottom: 36px;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  margin: 18px;
}

header nav ul li a:link {
  color: rgb(11, 234, 160);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
}
header nav ul li a:visited {
  color: rgb(5, 51, 121);
}
header nav ul li a:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}
header nav ul li a:active {
  color: rgb(11, 234, 160);
}
