$primary-color : #4b4d09;
$secondary-color : #e2dcbc;


// Bootstrap value overriding

$primary:       goldenrod;
$secondary:     teal;
$success:       orangered;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1080px,
  xl: 1200px,
  xxl: 1400px
) ;

@import "../node_modules/bootstrap/scss/bootstrap.scss";